<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ThinkMapper">
    <resultMap id="selectOptions" type="com.example.demo.dao.Option">
        <result column="LeValue" property="value"/>
        <result column="LeLabel" property="label"/>
        <collection property="children" ofType="com.example.demo.dao.Option">
            <result column="MoValue" property="value"/>
            <result column="MoLabel" property="label"/>
            <collection property="children" ofType="com.example.demo.dao.Option">
                <result column="ChValue" property="value"/>
                <result column="CLlabel" property="label"/>
            </collection>
        </collection>
    </resultMap>
    <select id="selectOptions" resultMap="selectOptions">
        select
            L.`value` as `LeValue`, L.`label` as `LeLabel`,   -- 等级
            M.`value` as `MoValue`,M.`label` as `MoLabel`,    -- 模块
            C.`value` as `ChValue`, C.`label` as `CLlabel`    -- 章节
        from (LMC as L left join LMC as M on L.`value`=M.`pre`) left join LMC as C on M.`value`=C.`pre` where L.`pre` is null
    </select>
</mapper>